@import "global.less";

#about-page-new {
    
    .container-fluid {
        
        .banner-row {
            position: absolute;
            height: 75%;
            left: 0px;
            right: 0px;
         
            .text-col {
                background-color: #1A1E23;
                color:#FFF;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .inner {
                    
                    .name {
                        .section-header();
                        font-size: 50px;
                        font-weight: 900;
                        padding: 0px !important;
                        margin-bottom: 0px;
                        
                        @media screen and (max-width:768px) {
                            font-size: 25px;
                        }
                    }

                    .tag {
                        .standard-text();
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        
                        span {
                            font-weight: 900;
                            font-size: 20px;
                        }
                        
                        @media screen and (max-width:768px) {
                            font-size: 14px;
                            
                            span {
                                font-size: 16px;
                            }
                        }
                    }


                    .social-block {
                        text-align: center;
                        margin-top: 100px;
         
                        
                        .social-header {
                            font-size: 14px;
                            padding-left: 20px;
                            padding-right: 20px;
                            text-align: center;
                            display: inline-block;
                            width: 100%;
                            clear: both;
                        }
                        
                        .links {
                            width:100%;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            
                            .social-link {
                                float:left;

                                width: 20%;
                                cursor: pointer;
                                text-align: center;
                                display: inline-block;

                                a {

                                    span {
                                        color: #FFF;
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                        @media screen and (max-width:768px) {
                            margin-top: 35px;
                            position: relative;
                            top: 40px;
                            .social-header {
                                font-size: 14px;
                            }
                            .links {
                                .social-link {
                                    a {
                                        span {
                                            font-size:24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                 @media screen and (max-width:605px) {
                     width: 100%;
                     clear: both;
                }
            }
            
            .img-col {
                height: 100%;
                background-image: url("../img/me-reversed.png");
                background-size: cover;
                background-repeat: no-repeat;
                
                @media screen and (max-width:605px) {
                     width: 100%;
                     clear: both;
                }  
            }
            
            @media screen and (min-width:1350px) {
                height: 90%;
            }
            
            @media screen and (max-width:992px) {
                height: 50%;
            }
            @media screen and (max-width:605px) {
                 height: 75%;
            }
        } /**End of the Banner**/
        
        
        .below-fold {
            position: absolute;
            top:75%;
            width: 100%;
             
            
            .text-section {
                padding:0px;
                padding-top: 80px;

                &.blue-section {
                    background-color: #1A1E23;
                    color: #FFF;
                    clear: both;
                    height: 400px;
                }

                .text-section-inner {
                    text-align: center;
                    padding: 0px;

                    .text-header {
                        .section-header();
                        font-size: 40px;
                        padding-left: 0px;
                        text-transform: uppercase;

                        &.left-align {
                            text-align: left;
                        }

                        span {
                            color:@primary-red;
                        }
                    }

                    .text {
                        font-size: 22px;
                        .standard-text();
                        line-height: 36px;
                        padding-bottom: 20px;

                        &.last {
                            padding-bottom: 80px;
                        }
                    }

                    .section-title {
                        text-transform: uppercase;
                        font-weight: 900;
                        .section-header();
                        font-size: 18px;
                        margin-top: 50px;

                        &.left-align {
                            text-align: left !important;
                            padding-left: 0px;
                        }
                    }
                    .sub-header {
                        font-size: 28px;
                        .standard-text();
                        font-weight: 900;
                        margin-top: 55px;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    .standout-title {
                        .section-header();
                        font-weight: 900;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-top: 85px;
                        margin-bottom: 10px;
                    }

                     #download {
                        padding: 20px 40px;
                        color:#1A1E23;
                        background-color: #FFF;;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 400;
                        text-decoration: none;
                         position: relative;
                         top: 50px;
                         .section-header();
                         
                         @media screen and (max-width:980px) {
                            padding: 16px 34px;
                            font-size: 18px;
                        }
                        @media screen and (max-width:450px) {
                            padding: 16px 34px;
                            font-size: 18px;
                        }
                    }
                    #download:hover {
                        background-color: @primary-yellow;
                        color: #000;
                    }
                    
                    &.left-align {
                        text-align: left;
                    }

                    @media screen and (max-width:992px) {
                        padding-right: 8% !important;
                    }

                    @media screen and (max-width:600px) {
                        .text-header {
                            font-size: 32px;
                        }

                        .text {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        .sub-header {
                            font-size: 22px;

                        }
                        .standout-title {
                            font-size: 20px;
                        }
                        .standout {
                            font-size: 20px;

                        }
                    }
                    @media screen and (max-width:300px) {
                        padding-right: 0% !important;
                    }
                }

                &.caption {
                    padding-bottom: 80px;
                    padding-top: 0px;
                }


            } //Text Section
            
            
            #mind-map {
            
            #title {
                font-size: 50px;
                font-weight: 400;
                margin-top: 0px;
                margin-bottom: 10px;
                text-align: left;
                .section-header();
            }
            
            #subtitle {
                font-size: 25px;
                line-height: 33px;
                text-align: center;
                margin-top: -10px;
                margin-bottom: 80px;
                .standard-text();
                padding-left: 15px;
                padding-right: 15px;
            }
            
            img {
                width: 100%;
                max-width: 1400px;
            }
            width:100%;
            display: inline-block;
            text-align: center;
            margin-top:80px;
            padding-top: 30px;
            
            @media screen and (max-width:980px) {
                #title {
                    font-size: 40px;
                }
                #subtitle {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
            @media screen and (max-width:450px) {
                #title {
                    font-size: 30px;
                }
                #subtitle {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        } //Mind Map
            
            
            
            
            
            
            .case-footer {
                padding-bottom: 100px;
                padding-top: 100px;
                margin-top: 50px;

                .case-footer-col {

                    font-size: 20px;
                    #go-home {
                        margin-left: 10px;
                        cursor: pointer;

                        a {
                            .section-header();
                            color: #FFF;
                            font-weight: 700;
                        }
                    }
                    #go-next {
                        margin-right: 40px;
                        cursor: pointer;
                        a {
                            .section-header();
                            color: #FFF;
                            font-weight: 700;
                        }
                        span {
                            margin-left: 15px;
                        }
                    }
                }
                &.green { 
                    background-color: #003300;
                }
                &.blue {
                    background-color: #1A1E23;
                }
                &.red {
                    background-color: #441717;
                }
            }
            
            
            
            @media screen and (max-width:992px) {
                top: 50%;
            }
            @media screen and (max-width:605px) {
                 top: 75%;
            }
            @media screen and (min-width:1350px) {
                top: 90%;
            }
            
        } // Below the Fold
        
    }
}

