@import "global.less";
.case-page {
    .hero-block {
        background-color: #003300;
        height: 95%;
        position: absolute;
        
        .hero-inner {
            padding-top: 100px;
            text-align: center;
            
            .hero-header {
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 50px;
                color: #FFF;
                .section-header();
                font-weight: 900;
            }
            .hero-description {
                color: #FFF;
                font-size: 22px;
                line-height: 40px; 
                .standard-text();
                margin-left: 10px;
                position: relative;
                left: 10px;

            }
            .disclaimer {
                position: relative;
                top: 10px;
                font-style: italic;
                color: #4D5A6A;
                font-size: 14px;
                line-height: 30px;
                .standard-text();
            }
            @media screen and (max-width:768px) {
                .hero-header {
                    font-size: 40px;
                }
                .hero-description {
                    font-size: 18px;
                    line-height: 36px;
                }
                .disclaimer {
                    font-size: 12px;
                    line-height: 28px;
                }
            }
            
            @media screen and (max-width:528px) {
                .hero-header {
                    font-size: 40px;
                    line-height: 50px;
                }
                .hero-description {
                    font-size: 16px;
                    line-height: 28px;
                }
                .disclaimer {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            @media screen and (max-width:388px) {
                .hero-header {
                    font-size: 35px;
                    line-height: 45px;
                }
                .hero-description {
                    font-size: 15px;
                    line-height: 25px;
                }
                .disclaimer {
                    font-size: 10px;
                    line-height: 15px;
                }
            }
            
        }
    }
    .below-fold {
        position: absolute;
        top:100%;
        width: 100%;
        
        
         .full-picture {
             padding: 0px;
             margin-bottom: 100px;
             
            .full-picture-col {
                padding:0px;
                position: relative;
                top: 10px;
                
                img {
                    width: 100%;
                }
            }
        }

        .text-section {
            padding:0px;
            padding-top: 80px;

            &.grey-section {
                background-color: #F4F6F7;
            }

            .text-section-inner {
                text-align: center;
                padding: 0px;

                .text-header {
                    .section-header();
                    font-size: 40px;
                    padding-left: 0px;
                    
                    &.left-align {
                        text-align: left;
                    }
                }

                .text {
                    font-size: 22px;
                    .standard-text();
                    line-height: 36px;
                    padding-bottom: 20px;
                }
                
                .section-title {
                    text-transform: uppercase;
                    font-weight: 900;
                    .section-header();
                    font-size: 18px;
                    margin-top: 50px;
                    
                    &.left-align {
                        text-align: left !important;
                        padding-left: 0px;
                    }
                }
                .sub-header {
                    font-size: 28px;
                    .standard-text();
                    font-weight: 900;
                    margin-top: 55px;
                    margin-bottom: 20px;
                }

                &.left-align {
                    text-align: left;
                }
                
                @media screen and (max-width:992px) {
                    padding-right: 8% !important;
                }
                
                @media screen and (max-width:600px) {
                    .text-header {
                        font-size: 32px;
                    }

                    .text {
                        font-size: 18px;
                        line-height: 24px;
                    }

                    .sub-header {
                        font-size: 22px;

                    }
                }
                @media screen and (max-width:300px) {
                    padding-right: 0% !important;
                }
            }
            
            
            

        } //Text Section
        
        .single-picture {
            padding-top: 50px;
            padding-bottom: 100px;
            
            .single-pic-col {
                display: inline-block;
                text-align: center;
                
                img {
                    max-width: 100%;
                    
                }
            }
            
            &.grey-section {
                background-color: #F4F6F7;
            }
            
        }
        
        .quick-scroll {
            padding-bottom: 80px;
            
            .title-row {
                margin-top: 35px;
                margin-bottom: 35px;
                .title-col {
                    p {
                        .standard-text();
                        font-size: 22px;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }
                
            }
            
            .quick-scroll-col {
                text-align: center;
                display: inline-block;
                margin-bottom: 20px;
                
                img {
                    width:75px;
                }
                p {
                    text-transform: uppercase;
                    font-weight: 900 !important;
                    .standard-text();
                    margin-top: 15px;
                }
            }
        }
    
    } //Below the fold
}