/**Command Green Color**/
@command-color: limegreen;
@innovation-yellow: #FFCC33;
@innovation-red: #CC3333;
@innovation-blue: #0099FF;
@innovation-green: #61bc47;
@innovation-orange: orange;
@craig-blue: rgb(67, 91, 141);
@block-border: 1px solid #CCC;

@primary-red: #CC3333;
@primary-blue: #008FD0;
@primary-yellow: #FFCC33;
@primary-green: #549600;

.std-button() {
    width: 175px;
    height:42px;
    text-align: center;
    font-size: 16px;
    padding-top:19px;
    cursor: pointer !important;
    border-radius: 5px;
    &:hover {
        background-color: @primary-yellow;
    }
    
    @media screen and (max-width:1240px) {
        width: 150px;
        height: 35px;
        padding-top: 15px;
    }
}

.seperator() {
    height:1px;
	border: none;
	background-color:#CCC;
	width: 80%;
}
.standard-text() {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 200;
}
.header-text() {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
}
.cursive-text() {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 200;
    font-style: italic;
}
.section-header() {
    //font-family: 'Bowlby One SC', cursive;
    font-family: 'Catamaran', sans-serif;
    //font-family: 'Titillium Web', sans-serif;
}

.section-header() {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    h2 {
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 48px;
        margin: 0px;
        font-weight: 200;
        line-height: 55px;
        margin-bottom: 15px;
    }
    p {
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0px;
        width: 55%;
        margin-left: 22.5%;
    }
    @media screen and (max-width:950px) {
        p {
            width: 70%;
            margin-left: 15%;
        }
    }
    @media screen and (max-width:670px) {
        h2 {
            font-size: 40px;
            line-height: 47px;
        }
        p {
            width: 80%;
            margin-left: 10%;
        }
    }
    @media screen and (max-width:450px) {
        h2 {
            font-size: 35px;
            line-height: 42px;
        }
        p {
            width: 90%;
            margin-left: 5%;
        }
    }
}

html, body {
    overflow-x: hidden;
    width: 100%;
	padding: 0px;
	margin: 0px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
