/**Command Green Color**/
@command-color: limegreen;
@innovation-yellow: #FFCC33;
@innovation-red: #CC3333;
@innovation-blue: #0099FF;
@innovation-green: #61bc47;
@innovation-orange: orange;
@craig-blue: rgb(67, 91, 141);
@block-border: 1px solid #CCC;

@primary-blue: #008FD0;

.std-button() {
    width: 175px;
    height:60px;
    text-align: center;
    font-size: 16px;
    margin-top:22px;
}

.seperator() {
    height:1px;
	border: none;
	background-color:#CCC;
	width: 80%;
}
.standard-text() {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
html, body {
    overflow-x: hidden;
    width: 100%;
	padding: 0px;
	margin: 0px;
}

