@import "global.less";


.header {
    
    .navbar {
        background-color: #FFF;
        border: none;
        padding-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 80px;
        .container {
            .navbar-header {
                .navbar-brand {
                    width: 280px;
                    cursor: pointer;
                    img {
                        height:45px;
                        margin-top: -10.5px;
                        float: left;
                    }
                    #name {
                        .header-text();
                        font-size: 20px;
                        color: #444;
                        font-weight: 700;
                        position: relative;
                        left: 15px;
                        margin-top: 2px;
                    }
                }
            }
            .navbar-collapse {
                    @media screen and (max-width:768px) {
                        z-index: 999;
                        position: absolute;
                        width: 100%;
                        background-color: #FFF;
                    }
                .navbar-nav {
                    @media screen and (max-width:992px) {
                            float: right !important;
                    }
                    @media screen and (max-width:768px) {
                            float: none!important
                    }
                    ;
                    li {
                        margin-top: 10px;
                        a {
                          .standard-text();
                            color: @primary-blue;  
                            font-size: 24px;
                            cursor: pointer;
                        }
                        @media screen and (max-width:992px) {
                            float: left !important;
                            border-top: none;
                        }
                        @media screen and (max-width:768px) {
                            float: none !important;
                            border-top: 1px solid #d4d4d4;
                        }
                        
                    }
                    li.active {
                        a {
                            background-color: transparent;
                            font-weight: 900;
                            color: #FFCC33 !important;
                            font-size: 24px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
