body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:983px;
}
#u8043 {
  position:absolute;
  left:824px;
  top:2760px;
  width:700px;
  height:983px;
}
#u8044 {
  position:absolute;
  left:2px;
  top:484px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8045 {
  position:absolute;
  left:51px;
  top:1332px;
  width:1467px;
  height:76px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8046 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2275px;
}
#u8049 {
  position:absolute;
  left:51px;
  top:1466px;
  width:700px;
  height:2275px;
}
#u8050 {
  position:absolute;
  left:2px;
  top:1130px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1248px;
}
#u8051 {
  position:absolute;
  left:824px;
  top:1466px;
  width:700px;
  height:1248px;
}
#u8052 {
  position:absolute;
  left:2px;
  top:616px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u8053 {
  position:absolute;
  left:238px;
  top:2006px;
  width:46px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8054 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u8055 {
  position:absolute;
  left:232px;
  top:1950px;
  width:46px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8056 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u8057 {
  position:absolute;
  left:238px;
  top:2515px;
  width:46px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8058 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u8059 {
  position:absolute;
  left:657px;
  top:2791px;
  width:46px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8060 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8061 {
  position:absolute;
  left:150px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8062 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8063 {
  position:absolute;
  left:51px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8064 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8065 {
  position:absolute;
  left:84px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8066 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8067 {
  position:absolute;
  left:117px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8068 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8069 {
  position:absolute;
  left:183px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8070 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8071 {
  position:absolute;
  left:216px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8072 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8073 {
  position:absolute;
  left:249px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8074 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8075 {
  position:absolute;
  left:282px;
  top:1419px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8076 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8077 {
  position:absolute;
  left:51px;
  top:3908px;
  width:1467px;
  height:76px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8078 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8079 {
  position:absolute;
  left:51px;
  top:3994px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8080 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8081 {
  position:absolute;
  left:84px;
  top:3994px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8082 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8083 {
  position:absolute;
  left:117px;
  top:3994px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8084 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8085 {
  position:absolute;
  left:149px;
  top:3994px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8086 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8087 {
  position:absolute;
  left:182px;
  top:3994px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8088 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:829px;
}
#u8089 {
  position:absolute;
  left:51px;
  top:4058px;
  width:700px;
  height:829px;
}
#u8090 {
  position:absolute;
  left:2px;
  top:406px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:518px;
}
#u8091 {
  position:absolute;
  left:830px;
  top:4058px;
  width:700px;
  height:518px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:251px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8093 {
  position:absolute;
  left:51px;
  top:5069px;
  width:1467px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8094 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8095 {
  position:absolute;
  left:51px;
  top:5117px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8096 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8097 {
  position:absolute;
  left:84px;
  top:5117px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8098 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8099 {
  position:absolute;
  left:117px;
  top:5117px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8100 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8101 {
  position:absolute;
  left:149px;
  top:5117px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8102 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8103 {
  position:absolute;
  left:182px;
  top:5117px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8104 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1496px;
}
#u8105 {
  position:absolute;
  left:53px;
  top:5206px;
  width:700px;
  height:1496px;
}
#u8106 {
  position:absolute;
  left:2px;
  top:740px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1104px;
}
#u8107 {
  position:absolute;
  left:818px;
  top:5206px;
  width:700px;
  height:1104px;
}
#u8108 {
  position:absolute;
  left:2px;
  top:544px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8109 {
  position:absolute;
  left:51px;
  top:6854px;
  width:1467px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8111 {
  position:absolute;
  left:51px;
  top:6902px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8112 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8113 {
  position:absolute;
  left:84px;
  top:6902px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8114 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8115 {
  position:absolute;
  left:117px;
  top:6902px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8116 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8117 {
  position:absolute;
  left:149px;
  top:6902px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8118 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8119 {
  position:absolute;
  left:182px;
  top:6902px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8120 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:209px;
}
#u8121 {
  position:absolute;
  left:51px;
  top:6971px;
  width:700px;
  height:209px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:96px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:208px;
}
#u8123 {
  position:absolute;
  left:51px;
  top:7235px;
  width:700px;
  height:208px;
}
#u8124 {
  position:absolute;
  left:2px;
  top:96px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:456px;
}
#u8125 {
  position:absolute;
  left:830px;
  top:6971px;
  width:700px;
  height:456px;
}
#u8126 {
  position:absolute;
  left:2px;
  top:220px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8127 {
  position:absolute;
  left:51px;
  top:7580px;
  width:1467px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8129 {
  position:absolute;
  left:51px;
  top:7628px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8130 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8131 {
  position:absolute;
  left:84px;
  top:7628px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8132 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8133 {
  position:absolute;
  left:117px;
  top:7628px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8134 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8135 {
  position:absolute;
  left:149px;
  top:7628px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8136 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8137 {
  position:absolute;
  left:182px;
  top:7628px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8138 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:3150px;
}
#u8139 {
  position:absolute;
  left:53px;
  top:7721px;
  width:700px;
  height:3150px;
}
#u8140 {
  position:absolute;
  left:2px;
  top:1567px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:109px;
}
#u8141 {
  position:absolute;
  left:825px;
  top:7721px;
  width:700px;
  height:109px;
}
#u8142 {
  position:absolute;
  left:2px;
  top:46px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1241px;
}
#u8143 {
  position:absolute;
  left:825px;
  top:7830px;
  width:700px;
  height:1241px;
}
#u8144 {
  position:absolute;
  left:2px;
  top:612px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1026px;
}
#u8145 {
  position:absolute;
  left:824px;
  top:9118px;
  width:700px;
  height:1026px;
}
#u8146 {
  position:absolute;
  left:2px;
  top:505px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1340px;
}
#u8147 {
  position:absolute;
  left:825px;
  top:10198px;
  width:700px;
  height:1340px;
}
#u8148 {
  position:absolute;
  left:2px;
  top:662px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8150 {
  position:absolute;
  left:81px;
  top:582px;
  width:672px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8151 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8152 {
  position:absolute;
  left:32px;
  top:315px;
  width:1144px;
  height:49px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8153 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u8154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8154 {
  position:absolute;
  left:81px;
  top:438px;
  width:672px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8155 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8156 {
  position:absolute;
  left:81px;
  top:510px;
  width:672px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8157 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8158 {
  position:absolute;
  left:81px;
  top:652px;
  width:672px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8159 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8161 {
  position:absolute;
  left:81px;
  top:698px;
  width:672px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8162 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8163 {
  position:absolute;
  left:48px;
  top:699px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8164 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8165 {
  position:absolute;
  left:51px;
  top:385px;
  width:672px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8166 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
#u8167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8167 {
  position:absolute;
  left:863px;
  top:433px;
  width:655px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8168 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8169 {
  position:absolute;
  left:863px;
  top:506px;
  width:655px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8170 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8171 {
  position:absolute;
  left:863px;
  top:652px;
  width:655px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8172 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8173 {
  position:absolute;
  left:863px;
  top:582px;
  width:655px;
  height:54px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8174 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8175 {
  position:absolute;
  left:833px;
  top:385px;
  width:655px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8176 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8177 {
  position:absolute;
  left:48px;
  top:439px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8178 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8179 {
  position:absolute;
  left:48px;
  top:509px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8180 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8181 {
  position:absolute;
  left:48px;
  top:582px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8182 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8183 {
  position:absolute;
  left:48px;
  top:652px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8184 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8185 {
  position:absolute;
  left:830px;
  top:439px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8186 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8187 {
  position:absolute;
  left:830px;
  top:509px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8188 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8189 {
  position:absolute;
  left:830px;
  top:582px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8190 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8191 {
  position:absolute;
  left:830px;
  top:652px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8192 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8194 {
  position:absolute;
  left:863px;
  top:698px;
  width:655px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8195 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  word-wrap:break-word;
}
#u8196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8196 {
  position:absolute;
  left:830px;
  top:699px;
  width:23px;
  height:23px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u8197 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u8198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8198 {
  position:absolute;
  left:32px;
  top:868px;
  width:1144px;
  height:49px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8199 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u8200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8200 {
  position:absolute;
  left:51px;
  top:921px;
  width:1467px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8201 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8202 {
  position:absolute;
  left:48px;
  top:1042px;
  width:1467px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8203 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
#u8204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8204 {
  position:absolute;
  left:88px;
  top:1095px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8205 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8206 {
  position:absolute;
  left:88px;
  top:1145px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8207 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8208 {
  position:absolute;
  left:88px;
  top:1195px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8209 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8210 {
  position:absolute;
  left:798px;
  top:1095px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8211 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8212 {
  position:absolute;
  left:798px;
  top:1145px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8213 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8214 {
  position:absolute;
  left:798px;
  top:1195px;
  width:700px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8215 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u8216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8216 {
  position:absolute;
  left:61px;
  top:1203px;
  width:13px;
  height:13px;
}
#u8217 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8218 {
  position:absolute;
  left:61px;
  top:1153px;
  width:13px;
  height:13px;
}
#u8219 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8220 {
  position:absolute;
  left:61px;
  top:1102px;
  width:13px;
  height:13px;
}
#u8221 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8222 {
  position:absolute;
  left:771px;
  top:1203px;
  width:13px;
  height:13px;
  font-size:20px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8224 {
  position:absolute;
  left:771px;
  top:1153px;
  width:13px;
  height:13px;
  font-size:20px;
}
#u8225 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8226 {
  position:absolute;
  left:771px;
  top:1102px;
  width:13px;
  height:13px;
  font-size:20px;
}
#u8227 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8229 {
  position:fixed;
  left:0px;
  top:0px;
}
#u8229_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8229_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
}
#u8231 {
  position:absolute;
  left:2px;
  top:22px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8232 {
  position:absolute;
  left:32px;
  top:0px;
  width:60px;
  height:60px;
}
#u8233 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8234 {
  position:absolute;
  left:102px;
  top:21px;
  width:300px;
  height:27px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8235 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:2px;
}
#u8236 {
  position:absolute;
  left:0px;
  top:58px;
  width:1600px;
  height:1px;
}
#u8237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8238 {
  position:absolute;
  left:643px;
  top:21px;
  width:153px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8239 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u8240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8240 {
  position:absolute;
  left:856px;
  top:21px;
  width:120px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8241 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8242 {
  position:absolute;
  left:1037px;
  top:21px;
  width:120px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8243 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8244 {
  position:absolute;
  left:1217px;
  top:21px;
  width:171px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8245 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u8246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLightItalic', 'Avenir Next Ultra Light Italic', 'Avenir Next';
  font-weight:200;
  font-style:italic;
  font-size:12px;
}
#u8246 {
  position:absolute;
  left:265px;
  top:28px;
  width:131px;
  height:16px;
  font-family:'AvenirNext-UltraLightItalic', 'Avenir Next Ultra Light Italic', 'Avenir Next';
  font-weight:200;
  font-style:italic;
  font-size:12px;
}
#u8247 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u8248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8248 {
  position:absolute;
  left:1449px;
  top:21px;
  width:151px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8249 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u8250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8250 {
  position:absolute;
  left:32px;
  top:119px;
  width:1144px;
  height:49px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8251 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u8252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u8252 {
  position:absolute;
  left:48px;
  top:186px;
  width:1467px;
  height:27px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u8253 {
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  word-wrap:break-word;
}
