body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:194px;
  width:146px;
  height:34px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 2, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:176px;
  width:1265px;
  height:51px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:708px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:242px;
  width:1235px;
  height:708px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:346px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:974px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:112px;
  width:1614px;
  height:974px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:479px;
  width:1610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:189px;
  width:171px;
  height:33px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:77px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:576px;
  width:513px;
  height:77px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:85px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:652px;
  width:171px;
  height:85px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:265px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:291px;
  width:284px;
  height:265px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:768px;
  width:626px;
  height:54px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:856px;
  width:199px;
  height:56px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:199px;
  word-wrap:break-word;
}
