body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1363px;
  height:836px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:120px;
  width:1363px;
  height:836px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:1359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:846px;
  background:inherit;
  background-color:rgba(242, 121, 53, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:123px;
  width:1308px;
  height:846px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:415px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:1000px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:57px;
  width:1578px;
  height:1000px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:164px;
  width:75px;
  height:32px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:423px;
  width:809px;
  height:85px;
  font-family:'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:271px;
  width:52px;
  height:50px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
