body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:726px;
}
#u1448 {
  position:absolute;
  left:228px;
  top:67px;
  width:982px;
  height:726px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:355px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:722px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:249px;
  top:67px;
  width:922px;
  height:722px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:353px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:787px;
}
#u1452 {
  position:absolute;
  left:156px;
  top:36px;
  width:1110px;
  height:787px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:386px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:491px;
}
#u1454 {
  position:absolute;
  left:535px;
  top:177px;
  width:388px;
  height:491px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:238px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1456 {
  position:absolute;
  left:300px;
  top:90px;
  width:122px;
  height:19px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u1458 {
  position:absolute;
  left:264px;
  top:82px;
  width:39px;
  height:36px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:703px;
  top:568px;
  width:170px;
  height:72px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:28px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:533px;
  top:568px;
  width:170px;
  height:72px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:28px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
