<header></header>
<div id="contact-page">
    <div id="loading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
        <p class="craig-brand">Sending...</p>
    </div>
    <div id="thanks">
        <!--img src="img/greencheck.png"/-->
        <p class="craig-brand">Thank-you! Your Feedback Has Been Sent!</p> <a ng-click="close('thanks');" class="popup-close">Close</a> </div>
    <div id="error">
        <!--img src="img/green_error.png"/-->
        <div id="content"></div> <a ng-click="close('error');" class="popup-close">Close</a> </div>
    
    
    <div id="top-area">
    

        
        <div id="title-wrapper">
            <p id="title">Get In Touch</p>
            <p id="subtitle">Not to worry, I'll be there as soon as I can</p>
        </div>
    </div>
    
    <div id="contact-wrapper">
    
        <div id="left-side">
            <div id="contact-area">

                <p>Send Me A Message</p>
                <input ng-model="cinfo.subject" class="contact-input" placeholder="Full Name"/>

                <input ng-model="cinfo.email" class="contact-input" placeholder="Your Email"/>

                <input placeholder="Your Message" ng-model="cinfo.body" placeholder="Your Message" class="contact-textarea"/>

                <a id="submit-btn" ng-click="send(cinfo)">Send It!</a>
        
            </div>
        </div>
        
        <div id="right-side">
            <p id="contact-me-header">Contact Me</p>
            
            <p class="cm-header">Phone</p>
            <p class="cm-text">734.328.2682</p>
            
            <p class="cm-header">Email</p>
            <p class="cm-text">grahamcr.gvsu@gmail.com</p>
            
        </div>
        
    </div>
    
    
    
    
    <section class="row footer-row">
        <div class="col-md-12 footer-col">
            <p redirect-home>CRAIG GRAHAM</p>
        </div>
    </section>
   

</div>