
<header></header>
<div id="isw-page">
    <div id="overlay"><p class="placeholder"></p></div>

    <div id="example-area">
    
        <examplemodal ng-repeat="example in examples" data="example">

        </examplemodal>
        
    </div>
    <div id="isw-header">
        
        <div id="main-header">
            <img src="img/craig_clean.png"/>
            <p id="title">Sr. UX Design Researcher</p>
            <p id="subtitle">Saving the world from having to write 'Click Here' one day at a time</p>
            
        </div>
        
        <div id="find-out-more" learn-more-scroll>
            <p id="title">Find Out How I Do It</p>
            <span class="fa fa-angle-down"></span>
        </div>
        
        <div id="header-overlay"></div>
        <div id="background-image"></div>
    
    </div>
    
    <div class="below-fold" id="isw-below-fold" scroll>
        
        
        <div id="under-header">
            
            <div id="left">
                <p id="under-header-title">From Discovery to Continued Improvement</p>
                <p id="under-header-text">I guess you could call me a “Full Stack” UX Professional who loves to translate observations into well-thought-out experiments. These results enable me to create data-derived designs and define meaningful success metrics.</p>
                
                <p id="under-header-text">I am passionate about keeping the human in human-centered design and feel that nothing can replace in-person feedback and conversation around an idea, design or process. I am also enamored by the idea of using UX to solve problems bigger than software by applying the same techniques to physical problems.</p>
            </div>
            
            <div id="right">
                <div class="under-header-block">
                    <img src="img/study.png"/>
                    <p class="ua-title">Discovery Research</p>
                </div>
                <div class="under-header-block">
                    <img src="img/design_blue.png"/>
                    <p class="ua-title">Design and User Testing</p>
                </div>
                <div class="under-header-block">
                    <img src="img/responsive_code.png"/>
                    <p class="ua-title">Responsive Development</p>
                </div>
                <div class="under-header-block">
                    <img src="img/blue-bar.png"/>
                    <p class="ua-title">Satisfaction &amp; Success Tracking</p>
                </div>
            </div>
            
            
        </div>
        
        <p id="learn-more-target" class="clear"></p>
        <div id="section1" class="section">
        
            <div class="sectionHeader" id="section1Header">
                <p class="title">Product Discovery Research</p>
                <p class="subtitle">It's what makes me excited to go to work in the morning</p>
            </div>
            
            <div class="inner-width">
            
            <div class='section-left'>
                <div class="section-details">
                    <p id="title">Let the Data Speak</p>
                    <p id="content">For me initial Discovery Research is the most exciting part of UX Research.  I love the challenge of understanding a problem, vision or product as good or even better then the client or product owner and designing experiments that will answer questions around feasibility, product direction, user expectation, process flow and so much more. 
                    </p>
                    
                    <!--div class="why-i-work">
                        <p id="title">What Makes Me Exicted to go to Work</p>
                        <ul>
                            <li>Discovering a Solution that Solves the <span>Real</span> Issue Users face</li>
                            <li>Watching Research Results Go in a Way No One Expected</li>
                            <li>Giving a Voice the User Through Research</li>
                        </ul>
                    </div-->
                    
                </div>
                
                <!--div class="section-split"></div-->
                
                <div class="section-goals">
                    <img id="icon" src="img/tools.png"/>
                    <p id="title">My Favorite Tools</p>
                    <ul>
                        <li>One on One Research Interviews</li>
                        <li>Stakeholder Sketching Sessions</li>
                        <li>Surveys Using Mockups</li>
                    </ul>
                </div>
                
                <div class="section-examples">
                    <p id="title">See Some of My Discovery Research Work</p>
                    <div class="section-examples-box">
                        
                        <div class="example-box">
                            <img src="img/isw/survey.png" open-example ename="researchProposals"/>
                            <p id="title" open-example ename="researchProposals">Discovery Research Proposals</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/results_survey.png" open-example ename="surveyResults"/>
                            <p id="title" open-example ename="surveyResults">Discovery Survey Results</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/competetive.png" open-example ename="ca"/>
                            <p id="title" open-example ename="ca">Competitive Analysis</p>
                        </div>
                    
                        
                    </div>
                </div>
                <p class="clear"></p>
            </div>
            
            <div id="artifact1" class="artifact">
                <img src="img/isw/Discovery.png" alt="Discovery"/>
            </div>    
        </div>
        </div>


        
        
        
        
        

        <div id="section2" class="section afterFirst">
            <div id="divider1" class="divider">
                <p class="title">Design Foundation</p>
                <p class="subtitle">The translation of research and facts into stories</p>
            </div>
            <div class="inner-width">
            
            <div class='section-left'>
                <div class="section-details">
                    <p id="title">Give the Data a Voice</p>
                    <p id="content">I tend to be a natural organizer, which means I am also a fan of the concept of taking raw research data and creating living artifacts a team can use as an agreed upon basis for a design.  I enjoy the challenge of unwrapping the feedback we’ve gathered and putting together all the pieces to create a holistic view of where an experience needs to go.</p>
                </div>
                
                <div class="section-goals">
                    <img id="icon" src="img/tools.png"/>
                    <p id="title">My Favorite Tools</p>
                    <ul>
                        <li>Whiteboards, Lots of Whiteboards</li>
                        <li><a target="_blank" href="https://www.flickr.com/photos/jasontravis/sets/72157603258446753/">Jason Travis's Persona Stream</a></li>
                        <li><a target="_blank" href="https://www.nngroup.com/articles/">Articles from Nielsen Norman Group</a></li>
                        <li>Feedback &amp; Perspective from Others</li>
                    </ul>
                </div>
                
                <div class="section-examples">
                    <p id="title">See Some of My Desgin Foundation Work</p>
                    <div class="section-examples-box">
                        
                        <div class="example-box">
                            <img src="img/isw/persona.png" open-example ename="personas"/>
                            <p id="title" ename="personas" open-example>Personas</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/userStories.png" open-example ename="us"/>
                            <p id="title" ename="us" open-example>User Stories</p>
                        </div>
                        

                        
                    </div>
                </div>
                <p class="clear"></p>
            </div>
            
            
            <div id="artifact2" class="artifact">
                <div class="crop-height">
                  <img id="artifact2_image" class="scale" src="img/isw/Foundation.png" alt="Foundation" />
                </div>  
            </div>  
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        <div id="section3" class="section afterFirst">
            <div id="divider2" class="divider">
                <p class="title">Mockup &amp; Design</p>
                <p class="subtitle">The challenge of exploiting good design principles to create effortless &amp; delightful designs</p>
            </div>
            
            
            <div class="inner-width">
            <div class='section-left'>
                <div class="section-details">
                    <p id="title">Bring it All Together</p>
                    <p id="content">My favorite part of creating mockups actually comes one step before any sketches are drawn or pixels are manipulated. When designers get to have the “what do we want to learn” discussion that pulls together everything we have observed, documented and personified relates to the visual interface we predict will enable users to efficiently achieve their goals.  </p>
                </div>
                
                <div class="section-goals">
                    <img id="icon" src="img/tools.png"/>
                    <p id="title">My Favorite Tools</p>
                    <ul>
                        <li>Axure RP</li>
                        <li>Photoshop</li>
                        <li>IconFinder</li>
                        <li>Balsamiq</li>
                    </ul>
                </div>
                
                <div class="section-examples">
                    <p id="title">See Some of My Mockup &amp; Design Work</p>
                    <div class="section-examples-box">
                        
                        <div class="example-box">
                            <img src="img/isw/mockup.png" open-example ename="hfm"/>
                            <p id="title" open-example ename="hfm">High Fidelity Mockups</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/infographic.png" open-example ename="infographics"/>
                            <p id="title" open-example ename="infographics">Infographics</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/graphicdesign.png" open-example ename="gdw"/>
                            <p id="title" open-example ename="gdw">Graphic Design Work</p>
                        </div>
                        
                    </div>
                </div>
                <p class="clear"></p>
            </div>
            
            
            <div id="artifact3" class="artifact">
                <div class="crop-height">
                  <img id="artifact3_image" class="scale" src="img/isw/Design.png" alt="Design" />
                </div>  
            </div>      
        </div>
        </div>
        
        
        
        
        
        
        <div id="section4" class="section afterFirst">
            <div id="divider3" class="divider">
                <p class="title">Usability Testing</p>
                <p class="subtitle">The practice of thinking you have everything figured out to only realize how wrong you are</p>
            </div>
            
            <div class="inner-width">
            
            <div class='section-left'>
                <div class="section-details">
                    <p id="title">Make Data Driven Decisions</p>
                    <p id="content">What is the best way to end design arguments? Data! While it can be painful to watch all the unexpected ways users interact with your design it is a beautiful thing when a design gets to a point where users just "get it". I always find it interesting to dig into user's expectations for different elements of a design and work together with users to determine why they made the choices they did.</p>
                </div>
                
                <div class="section-goals">
                    <img id="icon" src="img/tools.png"/>
                    <p id="title">My Favorite Tools</p>
                    <ul>
                        <li>A/B Testing</li>
                        <li>In Person Scenario Based Design Assessments</li>
                        <li>Web Traffic Analytics</li>
                    </ul>
                </div>
                
                <div class="section-examples">
                    <p id="title">See Some of My Usability Testing Work</p>
                    <div class="section-examples-box">
                        
                        <div class="example-box">
                            <img src="img/isw/abtest.png" open-example ename="ab"/>
                            <p id="title" open-example ename="ab">A/B Tests</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/testing.png" open-example ename="st"/>
                            <p id="title" open-example ename="st">Scenario Tests</p>
                        </div>
                        
                        <div class="example-box">
                            <img src="img/isw/results.png" open-example ename="ur"/>
                            <p id="title" open-example ename="ur">Usability Results</p>
                        </div>
                        
                    </div>
                </div>
                <p class="clear"></p>
            </div>
            
            
            <div id="artifact4" class="artifact">
                <div class="crop-height">
                  <img id="artifact4_image" class="scale" src="img/isw/TestResults.png" alt="Test Results" />
                </div>  
            </div>      
        </div>
        </div>
        
        
        
        
        
        
        <div id="section5" class="section afterFirst">
            <div id="divider4" class="divider">
                <p class="title">Development</p>
                <p class="subtitle">Done with the user and the future in mind</p>
            </div>
            
            <div class="inner-width">
            
            <div class='section-left'>
                <div class="section-details">
                    <p id="title">Production Time</p>
                    <p id="content">I am a self-taught front-end developer comfortable with HTML5/CSS3 and Angular (1 so far). There are two things enjoy most about front end development. First, being able to see a design I had a part in creating come to life through code.  The second is figuring out the best way to make that a reality using all the different tools/frameworks, languages and plugins available. Building Responsive websites to create consistent experiences regardless of platform is another passion of mine. </p>
                </div>
                
                <div class="section-goals">
                    <img id="icon" src="img/tools.png"/>
                    <p id="title">My Favorite Tools</p>
                    <ul>
                        <li>Angular</li>
                        <li>Less (is more) &amp; CSS3</li>
                        <li>HTML5</li>
                        <li>GreenSock (GASP)</li>
                    </ul>
                </div>
                
                <div class="section-examples">
                    <p id="title">See Some of My Development Work</p>
                    <div class="section-examples-box">
                        
                        <div class="example-box">
                            <img src="img/isw/survey.png" open-example ename="web"/>
                            <p id="title" open-example ename="web">Developed Websites</p>
                        </div>
                        
                        
                    </div>
                </div>
                <p class="clear"></p>
            </div>
            
            
            <div id="artifact5" class="artifact">
                <div class="crop-height">
                  <img id="artifact5_image" class="scale" src="img/isw/Readout.png" alt="Results Readout" />
                </div>  
            </div>      
        </div>
        </div>
        
        
        <div id="bottom-section">
            <div id="examples-row">
                <a class="view" href="example_artifacts/Mockups/GhostRed/landing_page/v1/home_2.html" target="_blank">
                    <div class="example-block">
                        <div class="example-overlay">
                            <p class="overlay-title">GhostRed</p>
                            <p class="overlay-description">Web Presence for Recruiting Platform</p>
                            <span class="fa fa-arrow-right"></span>
                        </div>
                        <img src="img/gr_hero.png"/>
                    </div>
                </a>
                <a class="view" href="example_artifacts/Mockups/NOW2Mocks/DesignB/index.html#g=1&p=home&c=1" target="_blank">
                    <div class="example-block">
                        <div class="example-overlay">
                            <p class="overlay-title">FindIt</p>
                            <p class="overlay-description">Corporate Crowdsourced Search Engine</p>
                            <span class="fa fa-arrow-right"></span>
                        </div>
                        <img src="img/findit_hero.png"/>
                    </div>
                </a>
                <a class="view" href="example_artifacts/Mockups/MAAWebsite/home.html" target="_blank">
                    <div class="example-block">
                        <div class="example-overlay">
                            <p class="overlay-title">MyApps Anywhere</p>
                            <p class="overlay-description">Web Presence for Internal Network Tool</p>
                            <span class="fa fa-arrow-right"></span>
                        </div>
                        <img src="img/myapps_hero.png"/>
                    </div>
                </a>
            </div>
            
            
            <div id="contact-area">

                <p>Get In Touch</p>
                <input ng-model="cinfo.subject" class="contact-input" placeholder="Full Name"/>


                <input ng-model="cinfo.email" class="contact-input" placeholder="Your Email"/>


                <input placeholder="Your Message" ng-model="cinfo.body" placeholder="Your Message" class="contact-textarea"/>


                <a id="submit-btn" ng-click="send(cinfo)">Send It!</a>
            
            
            </div>
            
        </div>
        
    </div>
    

    
    
    
   
    
</div>