
<header></header>
<div id="isw-page">
    <div id="overlay"><p class="placeholder"></p></div>

    <div id="example-area">
    
        <examplemodal ng-repeat="example in examples" data="example">

        </examplemodal>
        
    </div>
    <div id="isw-header">
        
        <img id="cloud1" class="cloud" src="img/cloud.png"/>
        <div id="sun"></div>
        <img id="cloud2" class="cloud" src="img/cloud.png"/>
        
        
        <div id="main-header">
            <p id="name">I Am Craig Graham</p>
            <p id="tagline">A User Experience Architect Saving the world from having to write 'Click Here' one day at a time</p>
            
            <div id="btn-group">
                <p class="std-button" id="process-btn">My Process</p>
                <p class="std-button" id="best-work-btn">My Best Work</p>
            </div>
        </div>
        <div id="grass-bar"></div>
        <img id="barn" src="img/barn.png"/>
        <img id="tractor" src="img/tractor.png"/>
        <img id="walking-chicken" src="img/walkingChicken.gif"/>
        
    
    </div>
    
    <div class="below-fold" id="isw-below-fold" scroll>
        
        <div class="section-header">
            <h2>Let's Cut to the Good Stuff</h2>
            <p>Wondering what unique skills I have that would make me a valuable part of your team?<br/>Look no further.</p>
        </div>
        
        <div class="three-wide">
        
            <div class="w-section">
                
                <div class="background">
                    <img src="img/diverse.png"/>    
                </div>
                <p class="section-title">A Diverse History</p>
                <p class="section-details">From Government Consulting to internal UX projects with over 500,000 users on day one - I've done it.</p>
                <p class="section-c2a">My Resume</p>
                
            </div>
            
            <div class="w-section">
                
                <div class="background">
                    <img src="img/fence.png"/>    
                </div>
                <p class="section-title">Both Sides of the API</p>
                <p class="section-details">I have a background in Computer Science and experience developing all sides of applications.</p>
                <p class="section-c2a">See Examples</p>
                
            </div>
            
            <div class="w-section">
                
                <div class="background">
                    <img src="img/mostInteresting.png"/>    
                </div>
                <p class="section-title">Most Interesting Man in UX</p>
                <p class="section-details">I have a unique backstory that allows me to empathize with a wide variety of users</p>
                <p class="section-c2a">More About Me</p>
                
            </div>
        </div>
        
        
        
        <div class="section-header">
            <h2>I See The Whole Picture</h2>
            <p>As a UX Architect with a background in Computer Science and Software Development, I can go beyond the experience of technology and into what it will take to create it.</p>
        </div>
        
        
        <div id="whole-picture">
            <div class="text-block" id="ux-block">
                <p class="header-txt">UX Architect</p>
                <p class="details">Summary of what I do and have done as a UX Architect in my career for different companies etc.</p>
            </div>
            <img src="img/codeVdesign.png" id="split-pic"/>
            <div class="text-block" id="code-block">
                <p class="header-txt">&#60;FrontEnd Dev &#62;</p>
                <p class="details">Summary of what I do and have done as a Dev in my career for different companies etc.</p>
            </div>
            <div id="underline"></div>
        </div>
        
        
        
         <div class="section-header">
            <h2>Some of My Best Work</h2>
            <p>Be prepared to be amazed and feel free to check out some of my approved for release work!</p>
        </div>
        
        <div id="examples-row-1" class="example-row">
            <a class="view" href="example_artifacts/Mockups/GhostRed/landing_page/v1/home_2.html" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">GhostRed</p>
                        <p class="overlay-description">Web Presence for Recruiting Platform (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/gr_hero.png"/>
                </div>
            </a>
            <a class="view" href="example_artifacts/Mockups/sandcastlePivotMocks/v1/index.html#g=1&p=home&c=1" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">SANDCASTLE</p>
                        <p class="overlay-description">A Mockup for an Internal Website Builder (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/background_computer2.png"/>
                </div>
            </a>
            <a class="view" href="example_artifacts/Mockups/MAAWebsite/home.html" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">MyApps Anywhere</p>
                        <p class="overlay-description">Web Presence for Internal Network Tool (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/myapps_hero.png"/>
                </div>
            </a>
        </div>
        
        
        <div id="examples-row-2" class="example-row">
            <a class="view" href="example_artifacts/Mockups/NOW2Mocks/DesignB/index.html#g=1&p=home&c=1" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">FindIt</p>
                        <p class="overlay-description">Corporate Crowdsourced Search Engine (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/findit_hero.png"/>
                </div>
            </a>
            <a class="view" href="example_artifacts/ScenerioTests/GRBooth/start.html#g=1&p=booth_kit&c=1" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">GhostRed Booth Kit</p>
                        <p class="overlay-description">A Virtual Event Booth Kit Designed For In-Person Usability Testing (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/grBooth.png"/>
                </div>
            </a>
        </div>
        
        
         <div id="examples-row-3" class="example-row">
            <a class="view" href="https://grahamcr.github.io/devsite2/innovationStudio-www/public_html/#/" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">Innovation Studio</p>
                        <p class="overlay-description">An Internal Web Presence for a Team I Was On At GE (Developed Site)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/iswBackground.png"/>
                </div>
            </a>
            <a class="view" href="example_artifacts/Mockups/GhostRed/landing_page/v1/#g=1&p=home_1&c=1" target="_blank">
                <div class="example-block" id="middle-block">
                    <div class="example-overlay">
                        <p class="overlay-title">GhostRed Iteration 1</p>
                        <p class="overlay-description">The First Iteration of GhostRed, used in A/B Testing (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/GRDesignB.png"/>
                </div>
            </a>
            <a class="view" href="example_artifacts/ScenerioTests/MAAClientDashboard/testing.html" target="_blank">
                <div class="example-block">
                    <div class="example-overlay">
                        <p class="overlay-title">MyApps Client Testing</p>
                        <p class="overlay-description">A Virtual Desktop Used To Run User Testing Scenarios For A Client Dashboard (Axure Mock)</p>
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <img src="img/maaTestingBkg.png"/>
                </div>
            </a>
        </div>
        
        
        <div class="section-header" id="process-spacer">
            <h2>My Process for Creating Great Experiences</h2>
            <p>I am self-taught UX Architect who believes in using UX Practices to implement Design Thinking with a focus on making data-driven designs decisions.</p>
        </div>
        
        <div class="process-block" id="empathize">
        
            <div class="process-title-wrapper">
                <p class="process-title">Empathize</p>
                <p class="process-details">This is my chance to conduct research in order to develop knowledge about what your users do, say, think, and feel.  What does this look like? It looks like taking time to directly observe what users do, what motivates them, what discourages them, what do you they need and what causes them frustration?</p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon" open-example ename="researchProposals">
                    <img src="img/isw/results.png"/>
                    <p class="step-name">Discovery Research Plans</p>
                    <p class="process-c2a" >See Examples</p>
                </div>
                <div class="process-icon" open-example ename="surveyResults">
                    <img src="img/isw/survey.png"/>
                    <p class="step-name">Contextual Inquiry Results</p>
                    <p class="process-c2a">See Examples</p>
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span>One on One Research Interviews, Stakeholder Sketching Sessions, Surveys using Mockups</p>
            
        </div>
        
        <div class="process-line"></div>
        
        <div class="process-block" id="define">
        
            <div class="process-title-wrapper">
                <p class="process-title">Define</p>
                <p class="process-details">To the whiteboard! This is when I get my Rain-Man on and look for trends and insights across all the research that has been collected. Are there common pain points? What are users unmet needs? What parallels between users can I draw?</p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon">
                    <img src="img/isw/persona.png" open-example ename="personas"/>
                    <p class="step-name">Personas</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="ca">
                    <img src="img/isw/competetive.png"/>
                    <p class="step-name">Competative Anaylsis</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="us">
                    <img src="img/isw/journeyMap.png"/>
                    <p class="step-name">User Flow Diagrams</p>
                    <p class="process-c2a">See Examples</p>
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span> Whiteboards (lots of them), Charrettes, Articles from Nielsen &amp; Norman Group</p>
            
        </div>
        
        <div class="process-line"></div>
        
        <div class="process-block" id="ideate">
        
            <div class="process-title-wrapper">
                <p class="process-title">Ideate</p>
                <p class="process-details">Brainstorm All The Things! Try addressing the users unmet needs identified in the define phase with a wide range of crazy, creative ideas. I try to give myself total freedom and include as many others as possible during this idea generation phase.</p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon">
                    <img src="img/isw/storyboard.png"/>
                    <p class="step-name">StoryBoards</p>
                    <!--p class="process-c2a">See Examples</p-->
                </div>
                <div class="process-icon">
                    <img src="img/isw/brainstorm.png"/>
                    <p class="step-name">Brainstorming</p>
                    <!--p class="process-c2a">See Examples</p-->
                </div>
                <div class="process-icon">
                    <img src="img/isw/results_survey.png"/>
                    <p class="step-name">Paper Prototypes</p>
                    <!--p class="process-c2a">See Examples</p-->
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span>Whiteboards, Sticky Notes, Coworkers</p>
            
        </div>
        
        <div class="process-line"></div>
        
        <div class="process-block" id="prototype">
        
            <div class="process-title-wrapper">
                <p class="process-title">Prototype</p>
                <p class="process-details">Prototypes are about sorting out impact vs. feasibility and getting feedback on your idea/designs early and often. In this phase I start to build real, tactile representations for subsets of the ideas generated in Ideate phase.</p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon" open-example ename="hfm">
                    <img src="img/isw/mockup.png"/>
                    <p class="step-name">High Fidelity Mockups</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon">
                    <img src="img/isw/results_survey.png"/>
                    <p class="step-name">Paper Prototypes</p>
                    <!--p class="process-c2a">See Examples</p-->
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span>Axure, Paper &amp; Markers, Photoshop</p>
            
        </div>
        
        <div class="process-line"></div>
        
        <div class="process-block" id="test">
        
            <div class="process-title-wrapper">
                <p class="process-title">Test</p>
                <p class="process-details">Let Data Win the Argument and do it by testing. This is where prototypes get put in front of real users to verify if it achieves the design goals. Does the solution meet users needs? Has it imporoved how they feel or do their tasks?</p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon" open-example ename="ur">
                    <img src="img/isw/results.png"/>
                    <p class="step-name">Design Assessment Results</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="ab">
                    <img src="img/isw/abtest.png"/>
                    <p class="step-name">A/B Tests</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="st">
                    <img src="img/isw/testing.png"/>
                    <p class="step-name">User Scenario Tests</p>
                    <p class="process-c2a">See Examples</p>
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span> In Person Design Assessments, Scenario-Based Testing, Design Assessment Result Read Out Meetings</p>
            
        </div>
        
        <div class="process-line"></div>
        
        <div class="process-block" id="implement">
        
            <div class="process-title-wrapper">
                <p class="process-title">Implement</p>
                <p class="process-details"></p>
            </div>
            
            <div class="process-icons-wrapper">
                <div class="process-icon" open-example ename="web">
                    <img src="img/isw/survey.png"/>
                    <p class="step-name">Developed Websites</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="infographics">
                    <img src="img/isw/infographic.png"/>
                    <p class="step-name">Infographics</p>
                    <p class="process-c2a">See Examples</p>
                </div>
                <div class="process-icon" open-example ename="gdw">
                    <img src="img/isw/graphicdesign.png"/>
                    <p class="step-name">Graphic Design Work</p>
                    <p class="process-c2a">See Examples</p>
                </div>
            </div>
            
            <p class="process-tools"><span>My Favorite Tools: </span> AngularJS, CSS3, HTML5, Photoshop, Brackets</p>
            
        </div>
                        
          <div class="process-line"></div>
        
        <div id="bottom-section">
            
            
            
            <div id="contact-area">

                <p>Get In Touch</p>
                <input ng-model="cinfo.subject" class="contact-input" placeholder="Full Name"/>


                <input ng-model="cinfo.email" class="contact-input" placeholder="Your Email"/>


                <input placeholder="Your Message" ng-model="cinfo.body" placeholder="Your Message" class="contact-textarea"/>


                <a id="submit-btn" ng-click="send(cinfo)">Send It!</a>
            
            
            </div>
            
        </div>
        
    </div>
    

    
    
    
   
    
</div>