/* so the window resize fires within a frame in IE7 */
html, body {
    height: 100%;
}

a {
    color: inherit;
}

p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}

iframe {
    background: #FFFFFF;
}

/* to match IE with C, FF */
input {
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea {
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.intcases {
    font-family: arial; 
    font-size: 12px;
    text-align:left; 
    border:1px solid #AAA; 
    background:#FFF none repeat scroll 0% 0%; 
    z-index:9999; 
    visibility:hidden; 
    position:absolute;
    padding: 0px;
    border-radius: 3px;
    white-space: nowrap;
}

div.intcaselink {
    cursor: pointer;
    padding: 3px 8px 3px 8px;
    margin: 5px;
    background:#EEE none repeat scroll 0% 0%; 
    border:1px solid #AAA;
    border-radius: 3px;
}

div.refpageimage {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url(images/newwindow.gif);
    background-repeat: no-repeat;
}

div.annnoteimage {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    /*width: 16px;
    height: 12px;*/
    cursor: help;
    /*background-image: url(images/note.gif);*/
    /*background-repeat: no-repeat;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

div.annnotelabel {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Helvetica,Arial;
    font-size: 10px;
    /*border: 1px solid rgb(166,221,242);*/
    cursor: help;
    /*background:rgb(0,157,217) none repeat scroll 0% 0%;*/ 
    padding: 1px 3px 1px 3px;
    white-space: nowrap;
    color: white;
    
    background-color: #138CDD;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
}

.annotation {
    font-size: 12px;
    padding-left: 2px;
    margin-bottom: 5px;
}

.annotationName {
    /*font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
    white-space: nowrap;*/

    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
}

.annotationValue {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #4a4a4a;
    line-height: 21px;
    margin-bottom: 20px;
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}

/* this is a fix for the issue where dialogs jump around and takes the text-align from the body */
.dialogFix {
    position:absolute;
    text-align:left;
    border: 1px solid #8f949a;
}


@keyframes pulsate {
  from {
    box-shadow: 0 0 10px #15d6ba;
  }
  to {
    box-shadow: 0 0 20px #15d6ba;
  }
}

@-webkit-keyframes pulsate {
  from {
    -webkit-box-shadow: 0 0 10px #15d6ba;
    box-shadow: 0 0 10px #15d6ba;
  }
  to {
    -webkit-box-shadow: 0 0 20px #15d6ba;
    box-shadow: 0 0 20px #15d6ba;
  }
}
 
@-moz-keyframes pulsate {
  from {
    -moz-box-shadow: 0 0 10px #15d6ba;
    box-shadow: 0 0 10px #15d6ba;
  }
  to {
    -moz-box-shadow: 0 0 20px #15d6ba;
    box-shadow: 0 0 20px #15d6ba;
  }
}

.legacyPulsateBorder {
    /*border: 5px solid #15d6ba;
    margin: -5px;*/
    -moz-box-shadow: 0 0 10px 3px #15d6ba;
    box-shadow: 0 0 10px 3px #15d6ba;
}

.pulsateBorder {
  animation-name: pulsate;
  animation-timing-function: ease-in-out;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  -webkit-animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: pulsate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 0.9s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

.ax_default_hidden, .ax_default_unplaced{
    display: none;
    visibility: hidden;
}

.widgetNoteSelected {
    -moz-box-shadow: 0 0 10px 3px #138CDD;
    box-shadow: 0 0 10px 3px #138CDD;
    /*-moz-box-shadow: 0 0 20px #3915d6;
    box-shadow: 0 0 20px #3915d6;*/
    /*border: 3px solid #3915d6;*/
    /*margin: -3px;*/
}


.singleImg {
    display: none;
    visibility: hidden;
}


@font-face {
	font-family: 'Avenir';
	src: url('Avenir-MediumOblique.eot');
	src: url('Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-MediumOblique.woff') format('woff'),
		url('Avenir-MediumOblique.ttf') format('truetype'),
		url('Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-BoldItalic.eot');
	src: url('AvenirNextCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-BoldItalic.woff') format('woff'),
		url('AvenirNextCondensed-BoldItalic.ttf') format('truetype'),
		url('AvenirNextCondensed-BoldItalic.svg#AvenirNextCondensed-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-MediumItalic.eot');
	src: url('AvenirNextCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-MediumItalic.woff') format('woff'),
		url('AvenirNextCondensed-MediumItalic.ttf') format('truetype'),
		url('AvenirNextCondensed-MediumItalic.svg#AvenirNextCondensed-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Roman.eot');
	src: url('Avenir-Roman.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Roman.woff') format('woff'),
		url('Avenir-Roman.ttf') format('truetype'),
		url('Avenir-Roman.svg#Avenir-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Italic.eot');
	src: url('AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Italic.woff') format('woff'),
		url('AvenirNext-Italic.ttf') format('truetype'),
		url('AvenirNext-Italic.svg#AvenirNext-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed Demi';
	src: url('AvenirNextCondensed-DemiBoldItalic.eot');
	src: url('AvenirNextCondensed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-DemiBoldItalic.woff') format('woff'),
		url('AvenirNextCondensed-DemiBoldItalic.ttf') format('truetype'),
		url('AvenirNextCondensed-DemiBoldItalic.svg#AvenirNextCondensed-DemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-Heavy.eot');
	src: url('AvenirNextCondensed-Heavy.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-Heavy.woff') format('woff'),
		url('AvenirNextCondensed-Heavy.ttf') format('truetype'),
		url('AvenirNextCondensed-Heavy.svg#AvenirNextCondensed-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Heavy.eot');
	src: url('AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Heavy.woff') format('woff'),
		url('AvenirNext-Heavy.ttf') format('truetype'),
		url('AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-Regular.eot');
	src: url('AvenirNextCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-Regular.woff') format('woff'),
		url('AvenirNextCondensed-Regular.ttf') format('truetype'),
		url('AvenirNextCondensed-Regular.svg#AvenirNextCondensed-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-HeavyItalic.eot');
	src: url('AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-HeavyItalic.woff') format('woff'),
		url('AvenirNext-HeavyItalic.ttf') format('truetype'),
		url('AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Ultra';
	src: url('AvenirNext-UltraLightItalic.eot');
	src: url('AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-UltraLightItalic.woff') format('woff'),
		url('AvenirNext-UltraLightItalic.ttf') format('truetype'),
		url('AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('AvenirNext-DemiBold.eot');
	src: url('AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-DemiBold.woff') format('woff'),
		url('AvenirNext-DemiBold.ttf') format('truetype'),
		url('AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('AvenirNext-DemiBoldItalic.eot');
	src: url('AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-DemiBoldItalic.woff') format('woff'),
		url('AvenirNext-DemiBoldItalic.ttf') format('truetype'),
		url('AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Black.eot');
	src: url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Black.woff') format('woff'),
		url('Avenir-Black.ttf') format('truetype'),
		url('Avenir-Black.svg#Avenir-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed Demi';
	src: url('AvenirNextCondensed-DemiBold.eot');
	src: url('AvenirNextCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-DemiBold.woff') format('woff'),
		url('AvenirNextCondensed-DemiBold.ttf') format('truetype'),
		url('AvenirNextCondensed-DemiBold.svg#AvenirNextCondensed-DemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Regular.eot');
	src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Regular.woff') format('woff'),
		url('AvenirNext-Regular.ttf') format('truetype'),
		url('AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-LightOblique.eot');
	src: url('Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-LightOblique.woff') format('woff'),
		url('Avenir-LightOblique.ttf') format('truetype'),
		url('Avenir-LightOblique.svg#Avenir-LightOblique') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Bold.eot');
	src: url('AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Bold.woff') format('woff'),
		url('AvenirNext-Bold.ttf') format('truetype'),
		url('AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Ultra';
	src: url('AvenirNext-UltraLight.eot');
	src: url('AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-UltraLight.woff') format('woff'),
		url('AvenirNext-UltraLight.ttf') format('truetype'),
		url('AvenirNext-UltraLight.svg#AvenirNext-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed Ultra';
	src: url('AvenirNextCondensed-UltraLight.eot');
	src: url('AvenirNextCondensed-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-UltraLight.woff') format('woff'),
		url('AvenirNextCondensed-UltraLight.ttf') format('truetype'),
		url('AvenirNextCondensed-UltraLight.svg#AvenirNextCondensed-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Black Oblique';
	src: url('Avenir-BlackOblique.eot');
	src: url('Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-BlackOblique.woff') format('woff'),
		url('Avenir-BlackOblique.ttf') format('truetype'),
		url('Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-Italic.eot');
	src: url('AvenirNextCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-Italic.woff') format('woff'),
		url('AvenirNextCondensed-Italic.ttf') format('truetype'),
		url('AvenirNextCondensed-Italic.svg#AvenirNextCondensed-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-BoldItalic.eot');
	src: url('AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-BoldItalic.woff') format('woff'),
		url('AvenirNext-BoldItalic.ttf') format('truetype'),
		url('AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-MediumItalic.eot');
	src: url('AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-MediumItalic.woff') format('woff'),
		url('AvenirNext-MediumItalic.ttf') format('truetype'),
		url('AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Heavy.eot');
	src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Heavy.woff') format('woff'),
		url('Avenir-Heavy.ttf') format('truetype'),
		url('Avenir-Heavy.svg#Avenir-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-Medium.eot');
	src: url('AvenirNextCondensed-Medium.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-Medium.woff') format('woff'),
		url('AvenirNextCondensed-Medium.ttf') format('truetype'),
		url('AvenirNextCondensed-Medium.svg#AvenirNextCondensed-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-HeavyOblique.eot');
	src: url('Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-HeavyOblique.woff') format('woff'),
		url('Avenir-HeavyOblique.ttf') format('truetype'),
		url('Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Book';
	src: url('Avenir-BookOblique.eot');
	src: url('Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-BookOblique.woff') format('woff'),
		url('Avenir-BookOblique.ttf') format('truetype'),
		url('Avenir-BookOblique.svg#Avenir-BookOblique') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Book';
	src: url('Avenir-Book.eot');
	src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Book.woff') format('woff'),
		url('Avenir-Book.ttf') format('truetype'),
		url('Avenir-Book.svg#Avenir-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Oblique.eot');
	src: url('Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Oblique.woff') format('woff'),
		url('Avenir-Oblique.ttf') format('truetype'),
		url('Avenir-Oblique.svg#Avenir-Oblique') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-Bold.eot');
	src: url('AvenirNextCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-Bold.woff') format('woff'),
		url('AvenirNextCondensed-Bold.ttf') format('truetype'),
		url('AvenirNextCondensed-Bold.svg#AvenirNextCondensed-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext-Medium.eot');
	src: url('AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-Medium.woff') format('woff'),
		url('AvenirNext-Medium.ttf') format('truetype'),
		url('AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Light.eot');
	src: url('Avenir-Light.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Light.woff') format('woff'),
		url('Avenir-Light.ttf') format('truetype'),
		url('Avenir-Light.svg#Avenir-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('Avenir-Medium.eot');
	src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Medium.woff') format('woff'),
		url('Avenir-Medium.ttf') format('truetype'),
		url('Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Condensed Ultra';
	src: url('AvenirNextCondensed-UltraLightItalic.eot');
	src: url('AvenirNextCondensed-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-UltraLightItalic.woff') format('woff'),
		url('AvenirNextCondensed-UltraLightItalic.ttf') format('truetype'),
		url('AvenirNextCondensed-UltraLightItalic.svg#AvenirNextCondensed-UltraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Condensed';
	src: url('AvenirNextCondensed-HeavyItalic.eot');
	src: url('AvenirNextCondensed-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCondensed-HeavyItalic.woff') format('woff'),
		url('AvenirNextCondensed-HeavyItalic.ttf') format('truetype'),
		url('AvenirNextCondensed-HeavyItalic.svg#AvenirNextCondensed-HeavyItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}


