body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:194px;
  width:146px;
  height:34px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 2, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:176px;
  width:1265px;
  height:51px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:708px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:242px;
  width:1235px;
  height:708px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:346px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:361px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:415px;
  width:361px;
  height:361px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:244px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:473px;
  width:244px;
  height:244px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:402px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:396px;
  width:253px;
  height:402px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:361px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:415px;
  width:361px;
  height:361px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:244px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:473px;
  width:244px;
  height:244px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:551px;
  width:223px;
  height:88px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:290px;
  width:607px;
  height:93px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:607px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:974px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:112px;
  width:1614px;
  height:974px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:479px;
  width:1610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:189px;
  width:171px;
  height:33px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:59px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:173px;
  width:119px;
  height:59px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
