<div class="header">    

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" redirect-home>
            <img alt="Brand" src="img/cg_logo_black.png">  
            <p id="name">CRAIG GRAHAM</p>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav pull-right navbar-nav">
            <li id="home-link" class="{{home}}"><a redirect-home>Home <span class="sr-only">(current)</span></a></li>
            <li id="about-link" class="{{about}}"><a redirect-about>About</a></li>
            <li id="watch-link" class="{{contact}}"><a redirect-contact>Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
</div>