<div class="header" hide-on-scroll>    
    
    <div id="header-left">
        <img src="img/cg_logo.png" id="header-img" redirect-home>

    </div>

    <div id="header-right">
        <p class="link {{portfolio}}"redirect-home>Portfolio</p>
        <p class="link {{about}}" redirect-about>About Me</p>
        <p class="link {{contact}}" redirect-contact>Contact</p>
    </div>
    

    <div class="responsive-icon">
        <span class="fa fa-bars" open-menu></span>
    </div>
    
    
    
</div>

<div class="responsive-menu">

    <p class="menu-link {{portfolio}}"redirect-home>Portfolio</p>
    <p class="menu-link {{about}}"redirect-about>About Me</p>
    <p class="menu-link {{contact}}" redirect-contact>Contact</p>

</div>
<p class="close" close-menu>Close</p>