
<div class="header">    

    <nav class="navbar navbar-default" style="
    padding: 20px;
">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" redirect-home style="width: 280px;position:absolute;z-index:10;padding-left:30px;">
            <img alt="Brand" src="img/cg_logo_black.png" style="height: 45px;margin-top: -10.5px;float: left;">  
            <p id="name" style="font-size: 20px;color: #444;font-weight: 700;position: relative;left: 15px;margin-top: 2px;font-family: 'Hind Siliguri', sans-serif;font-weight: 500;">CRAIG GRAHAM</p>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="position: absolute;width: 100%;background-color: #FFF;padding-right:20px;z-index: 9;float:right !important" id="bs-example-navbar-collapse-1">
          <ul class="nav pull-right navbar-nav" style="float:right !important;padding-right:30px;">
            <li id="home-link" style="float:left; border:none" class="{{home}}"><a redirect-home>Home <span class="sr-only">(current)</span></a></li>
            <li id="about-link" style="float:left; border:none" class="{{about}}"><a redirect-about>About</a></li>
            <li id="watch-link" style="float:left; border:none" class="{{contact}}"><a redirect-contact>Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
</div>