body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u0 {
  position:absolute;
  left:1105px;
  top:2501px;
  width:116px;
  height:116px;
}
#u1 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u2 {
  position:absolute;
  left:714px;
  top:2493px;
  width:124px;
  height:124px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u4 {
  position:absolute;
  left:1104px;
  top:2207px;
  width:118px;
  height:118px;
}
#u5 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u6 {
  position:absolute;
  left:711px;
  top:2198px;
  width:130px;
  height:130px;
}
#u7 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:641px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:1010px;
  width:1501px;
  height:641px;
}
#u9 {
  position:absolute;
  left:2px;
  top:312px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1010px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:1010px;
}
#u12 {
  position:absolute;
  left:2px;
  top:497px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1765px;
  height:1237px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.337254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:-264px;
  top:-227px;
  width:1765px;
  height:1237px;
}
#u14 {
  position:absolute;
  left:2px;
  top:610px;
  width:1761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:72px;
  background:inherit;
  background-color:rgba(68, 102, 128, 0.388235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 102, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:72px;
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:135px;
  top:27px;
  width:169px;
  height:27px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:390px;
  top:31px;
  width:169px;
  height:22px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:569px;
  top:31px;
  width:169px;
  height:22px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:748px;
  top:31px;
  width:169px;
  height:22px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.858823529411765);
  text-align:center;
}
#u25 {
  position:absolute;
  left:1335px;
  top:19px;
  width:129px;
  height:34px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.858823529411765);
  text-align:center;
}
#u26 {
  position:absolute;
  left:0px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u27 {
  position:absolute;
  left:50px;
  top:0px;
  width:80px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:50px;
  top:165px;
  width:688px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:50px;
  top:349px;
  width:537px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.858823529411765);
  text-align:center;
}
#u33 {
  position:absolute;
  left:50px;
  top:439px;
  width:145px;
  height:48px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.858823529411765);
  text-align:center;
}
#u34 {
  position:absolute;
  left:0px;
  top:13px;
  width:145px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:364px;
}
#u35 {
  position:absolute;
  left:111px;
  top:1140px;
  width:675px;
  height:364px;
}
#u36 {
  position:absolute;
  left:2px;
  top:174px;
  width:671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
}
#u37 {
  position:absolute;
  left:897px;
  top:1148px;
  width:567px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u39 {
  position:absolute;
  left:897px;
  top:1305px;
  width:503px;
  height:85px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u41 {
  position:absolute;
  left:897px;
  top:1448px;
  width:145px;
  height:48px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u42 {
  position:absolute;
  left:0px;
  top:13px;
  width:145px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u43 {
  position:absolute;
  left:272px;
  top:1673px;
  width:957px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u44 {
  position:absolute;
  left:0px;
  top:34px;
  width:957px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u45 {
  position:absolute;
  left:400px;
  top:1792px;
  width:701px;
  height:85px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u46 {
  position:absolute;
  left:0px;
  top:18px;
  width:701px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:103px;
}
#u47 {
  position:absolute;
  left:256px;
  top:1940px;
  width:190px;
  height:103px;
}
#u48 {
  position:absolute;
  left:2px;
  top:44px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u49 {
  position:absolute;
  left:718px;
  top:1927px;
  width:116px;
  height:116px;
}
#u50 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u51 {
  position:absolute;
  left:1105px;
  top:1927px;
  width:116px;
  height:116px;
}
#u52 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u53 {
  position:absolute;
  left:214px;
  top:2057px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u55 {
  position:absolute;
  left:640px;
  top:2057px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u56 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u57 {
  position:absolute;
  left:1026px;
  top:2057px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u59 {
  position:absolute;
  left:214px;
  top:2084px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u61 {
  position:absolute;
  left:640px;
  top:2084px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u62 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u63 {
  position:absolute;
  left:1026px;
  top:2084px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u64 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u65 {
  position:absolute;
  left:214px;
  top:2335px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u66 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u67 {
  position:absolute;
  left:640px;
  top:2335px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u69 {
  position:absolute;
  left:1026px;
  top:2335px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u70 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u71 {
  position:absolute;
  left:214px;
  top:2362px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u72 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u73 {
  position:absolute;
  left:640px;
  top:2362px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u75 {
  position:absolute;
  left:1026px;
  top:2362px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u76 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u77 {
  position:absolute;
  left:214px;
  top:2631px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u78 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u79 {
  position:absolute;
  left:640px;
  top:2631px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u81 {
  position:absolute;
  left:1026px;
  top:2631px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u82 {
  position:absolute;
  left:0px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u83 {
  position:absolute;
  left:214px;
  top:2658px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u84 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u85 {
  position:absolute;
  left:640px;
  top:2658px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u87 {
  position:absolute;
  left:1026px;
  top:2658px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:12px;
  width:273px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:108px;
}
#u89 {
  position:absolute;
  left:297px;
  top:2217px;
  width:108px;
  height:108px;
}
#u90 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u91 {
  position:absolute;
  left:298px;
  top:2513px;
  width:104px;
  height:104px;
}
#u92 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#007CB5;
  text-align:center;
}
#u93 {
  position:absolute;
  left:1026px;
  top:2687px;
  width:273px;
  height:62px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#007CB5;
  text-align:center;
}
#u94 {
  position:absolute;
  left:0px;
  top:22px;
  width:273px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:795px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:0px;
  top:2871px;
  width:1501px;
  height:795px;
}
#u96 {
  position:absolute;
  left:2px;
  top:390px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u97 {
  position:absolute;
  left:272px;
  top:2906px;
  width:957px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u98 {
  position:absolute;
  left:0px;
  top:-2px;
  width:957px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:217px;
}
#u99 {
  position:absolute;
  left:185px;
  top:3160px;
  width:217px;
  height:217px;
}
#u100 {
  position:absolute;
  left:2px;
  top:100px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:246px;
}
#u101 {
  position:absolute;
  left:620px;
  top:3131px;
  width:246px;
  height:246px;
}
#u102 {
  position:absolute;
  left:2px;
  top:115px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:247px;
}
#u103 {
  position:absolute;
  left:1083px;
  top:3145px;
  width:247px;
  height:247px;
}
#u104 {
  position:absolute;
  left:2px;
  top:116px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u105 {
  position:absolute;
  left:157px;
  top:3402px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u106 {
  position:absolute;
  left:0px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u107 {
  position:absolute;
  left:128px;
  top:3446px;
  width:330px;
  height:108px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u109 {
  position:absolute;
  left:614px;
  top:3402px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u110 {
  position:absolute;
  left:0px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u111 {
  position:absolute;
  left:586px;
  top:3446px;
  width:330px;
  height:108px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u113 {
  position:absolute;
  left:1072px;
  top:3402px;
  width:273px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u114 {
  position:absolute;
  left:0px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u115 {
  position:absolute;
  left:1042px;
  top:3446px;
  width:330px;
  height:108px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:61px;
}
#u117 {
  position:absolute;
  left:633px;
  top:3917px;
  width:185px;
  height:61px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u118 {
  position:absolute;
  left:0px;
  top:20px;
  width:185px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u119 {
  position:absolute;
  left:247px;
  top:3744px;
  width:957px;
  height:138px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:52px;
  text-align:center;
}
#u120 {
  position:absolute;
  left:0px;
  top:34px;
  width:957px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:-8px;
  top:4060px;
  width:1501px;
  height:165px;
}
#u122 {
  position:absolute;
  left:2px;
  top:74px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
