body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u704 {
  position:absolute;
  left:893px;
  top:194px;
  width:146px;
  height:34px;
}
#u705 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 2, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:222px;
  top:176px;
  width:1265px;
  height:51px;
}
#u707 {
  position:absolute;
  left:2px;
  top:18px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:708px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:238px;
  top:242px;
  width:1235px;
  height:708px;
}
#u709 {
  position:absolute;
  left:2px;
  top:346px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:974px;
}
#u710 {
  position:absolute;
  left:41px;
  top:112px;
  width:1614px;
  height:974px;
}
#u711 {
  position:absolute;
  left:2px;
  top:479px;
  width:1610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u713 {
  position:absolute;
  left:769px;
  top:189px;
  width:171px;
  height:33px;
}
#u714 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:77px;
}
#u715 {
  position:absolute;
  left:598px;
  top:576px;
  width:513px;
  height:77px;
}
#u716 {
  position:absolute;
  left:2px;
  top:30px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:265px;
}
#u717 {
  position:absolute;
  left:713px;
  top:291px;
  width:284px;
  height:265px;
}
#u718 {
  position:absolute;
  left:2px;
  top:124px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u719 {
  position:absolute;
  left:542px;
  top:768px;
  width:626px;
  height:54px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:89px;
}
#u721 {
  position:absolute;
  left:765px;
  top:646px;
  width:179px;
  height:89px;
}
#u722 {
  position:absolute;
  left:2px;
  top:36px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u723 {
  position:absolute;
  left:755px;
  top:851px;
  width:199px;
  height:56px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u724 {
  position:absolute;
  left:0px;
  top:14px;
  width:199px;
  word-wrap:break-word;
}
