body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state6 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u0_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:900px;
  top:0px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  background-image:none;
}
#u15_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u15_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u15_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u15_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u15_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
  visibility:hidden;
  background-image:none;
}
#u15_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1100px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:6px;
  width:58px;
  height:58px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1100px;
  background:inherit;
  background-color:rgba(174, 184, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:0px;
  width:5px;
  height:1100px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:1035px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:1800px;
  height:1035px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:510px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 184, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:437px;
  width:557px;
  height:187px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#AEB800;
  text-align:center;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:469px;
  width:445px;
  height:50px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#AEB800;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:53px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:540px;
  width:290px;
  height:53px;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:286px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:70px;
  background:inherit;
  background-color:rgba(174, 184, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:70px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:21px;
  width:192px;
  height:34px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:71px;
  height:71px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
