body {
  margin:0px;
  background-color:rgba(240, 240, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1702px;
  height:957px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:69px;
  width:1702px;
  height:957px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:957px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:1700px;
  height:957px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:956px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:70px;
  width:1700px;
  height:956px;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:1062px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:69px;
  width:1700px;
  height:1062px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:523px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:56px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:748px;
  width:179px;
  height:56px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:100px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:166px;
  width:902px;
  height:100px;
  font-family:'MLingWaiMedium-SC', 'LingWai SC Medium', 'LingWai SC';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:300px;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:197px;
  width:520px;
  height:300px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
  background:inherit;
  background-color:rgba(43, 62, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:19px;
  width:300px;
  height:34px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:15px;
  width:41px;
  height:41px;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:22px;
  width:26px;
  height:28px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:37px;
  width:18px;
  height:18px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#388CFF;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:60px;
  width:358px;
  height:210px;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:70px;
  width:270px;
  height:19px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:93px;
  width:253px;
  height:30px;
  font-family:'Roboto';
  font-weight:400;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u5658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:74px;
  width:65px;
  height:65px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:126px;
  width:270px;
  height:15px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:89px;
  width:252px;
  height:1px;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:339px;
  height:5px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:160px;
  width:336px;
  height:2px;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:179px;
  width:57px;
  height:57px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:174px;
  width:270px;
  height:19px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:193px;
  width:252px;
  height:1px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:196px;
  width:253px;
  height:30px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u5674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:229px;
  width:270px;
  height:15px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-1px;
  width:70px;
  height:51px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(127, 204, 57, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1px;
  width:347px;
  height:40px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:8px;
  width:26px;
  height:26px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:10px;
  width:181px;
  height:21px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u5685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#388CFF;
  text-align:right;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:14px;
  width:105px;
  height:14px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#388CFF;
  text-align:right;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u5687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:390px;
  width:211px;
  height:60px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5687_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(171, 215, 40, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5687.mouseOver {
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:207px;
  word-wrap:break-word;
}
#u5689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:278px;
  width:589px;
  height:48px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u5691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MLingWaiMedium-SC', 'LingWai SC Medium', 'LingWai SC';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:66px;
  width:902px;
  height:100px;
  font-family:'MLingWaiMedium-SC', 'LingWai SC Medium', 'LingWai SC';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  word-wrap:break-word;
}
