body {
  margin:0px;
  background-color:rgba(54, 65, 83, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#364153;
}
#u16502 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:728px;
  width:155px;
  height:56px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#364153;
}
#u16503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#364153;
}
#u16504 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:728px;
  width:155px;
  height:56px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#364153;
}
#u16505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  word-wrap:break-word;
}
#u16506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u16506 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:738px;
  width:36px;
  height:37px;
}
#u16507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:547px;
}
#u16508 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:171px;
  width:522px;
  height:547px;
}
#u16509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:266px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
