body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:194px;
  width:146px;
  height:34px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:51px;
  background:inherit;
  background-color:rgba(102, 2, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:176px;
  width:1265px;
  height:51px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:708px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:242px;
  width:1235px;
  height:708px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:346px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:361px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:415px;
  width:361px;
  height:361px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:244px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:473px;
  width:244px;
  height:244px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:402px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:396px;
  width:253px;
  height:402px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:361px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:415px;
  width:361px;
  height:361px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:244px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:473px;
  width:244px;
  height:244px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:551px;
  width:223px;
  height:88px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:290px;
  width:607px;
  height:93px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:607px;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:974px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:112px;
  width:1614px;
  height:974px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:479px;
  width:1610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:189px;
  width:171px;
  height:33px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:56px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:175px;
  width:119px;
  height:56px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
