body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:722px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1682 {
  position:absolute;
  left:249px;
  top:67px;
  width:922px;
  height:722px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:353px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u1684 {
  position:absolute;
  left:258px;
  top:80px;
  width:38px;
  height:37px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1686 {
  position:absolute;
  left:300px;
  top:90px;
  width:122px;
  height:19px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:787px;
}
#u1688 {
  position:absolute;
  left:156px;
  top:16px;
  width:1110px;
  height:787px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:386px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1690 {
  position:absolute;
  left:374px;
  top:126px;
  width:673px;
  height:76px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:63px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1692 {
  position:absolute;
  left:580px;
  top:667px;
  width:261px;
  height:63px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1693 {
  position:absolute;
  left:0px;
  top:19px;
  width:261px;
  word-wrap:break-word;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:367px;
}
#u1694 {
  position:absolute;
  left:549px;
  top:242px;
  width:324px;
  height:367px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:176px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
