body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:15px;
  width:173px;
  height:40px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:69px;
  background:inherit;
  background-color:rgba(102, 2, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1700px;
  height:69px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1659px;
  height:950px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:83px;
  width:1659px;
  height:950px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:467px;
  width:1655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:544px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:83px;
  width:535px;
  height:544px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:10px;
  width:203px;
  height:39px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:590px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:286px;
  width:590px;
  height:590px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:399px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:381px;
  width:399px;
  height:399px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:657px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:256px;
  width:413px;
  height:657px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:590px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:286px;
  width:590px;
  height:590px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:399px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:381px;
  width:399px;
  height:399px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  text-align:center;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:508px;
  width:265px;
  height:146px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  text-align:center;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:126px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:777px;
  width:174px;
  height:126px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:830px;
  width:246px;
  height:24px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#9C0306;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:867px;
  width:453px;
  height:19px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#9C0306;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:793px;
  width:97px;
  height:36px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:910px;
  width:141px;
  height:16px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:910px;
  width:141px;
  height:16px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:910px;
  width:163px;
  height:16px;
  font-family:'AvenirNext-DemiBold', 'Avenir Next Demi Bold', 'Avenir Next';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:910px;
  width:1px;
  height:20px;
  font-size:12px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:910px;
  width:1px;
  height:20px;
  font-size:12px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
  text-align:center;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:130px;
  width:545px;
  height:110px;
  font-family:'Impact';
  font-weight:900;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
  text-align:center;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:545px;
  word-wrap:break-word;
}
