body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7960 {
  position:absolute;
  left:32px;
  top:96px;
  width:1144px;
  height:49px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7961 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u7962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:150px;
}
#u7962 {
  position:absolute;
  left:52px;
  top:223px;
  width:1472px;
  height:150px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-style:normal;
  font-size:16px;
}
#u7963 {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  word-wrap:break-word;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:38px;
}
#u7964 {
  position:absolute;
  left:52px;
  top:165px;
  width:1261px;
  height:38px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7965 {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  word-wrap:break-word;
}
#u7966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1478px;
  height:128px;
}
#u7966 {
  position:absolute;
  left:52px;
  top:383px;
  width:1478px;
  height:128px;
  font-family:'AvenirNext-Medium', 'Avenir Next Medium', 'Avenir Next';
  font-style:normal;
  font-size:16px;
}
#u7967 {
  position:absolute;
  left:0px;
  top:0px;
  width:1478px;
  word-wrap:break-word;
}
#u7968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  height:159px;
}
#u7968 {
  position:absolute;
  left:52px;
  top:547px;
  width:1472px;
  height:159px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-style:normal;
}
#u7969 {
  position:absolute;
  left:0px;
  top:0px;
  width:1472px;
  word-wrap:break-word;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1478px;
  height:162px;
}
#u7970 {
  position:absolute;
  left:52px;
  top:749px;
  width:1478px;
  height:162px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-style:normal;
}
#u7971 {
  position:absolute;
  left:0px;
  top:0px;
  width:1478px;
  word-wrap:break-word;
}
#u7972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7972 {
  position:absolute;
  left:32px;
  top:1034px;
  width:1144px;
  height:49px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:531px;
}
#u7974 {
  position:absolute;
  left:805px;
  top:1131px;
  width:289px;
  height:531px;
}
#u7975 {
  position:absolute;
  left:2px;
  top:258px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:76px;
}
#u7977 {
  position:absolute;
  left:370px;
  top:1145px;
  width:65px;
  height:76px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:30px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7979 {
  position:absolute;
  left:445px;
  top:1168px;
  width:196px;
  height:38px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7981 {
  position:absolute;
  left:445px;
  top:1203px;
  width:103px;
  height:18px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u7983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:68px;
}
#u7984 {
  position:absolute;
  left:370px;
  top:1338px;
  width:65px;
  height:68px;
}
#u7985 {
  position:absolute;
  left:2px;
  top:26px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7986 {
  position:absolute;
  left:445px;
  top:1356px;
  width:196px;
  height:38px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7988 {
  position:absolute;
  left:445px;
  top:1388px;
  width:168px;
  height:18px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7989 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7991 {
  position:absolute;
  left:445px;
  top:1271px;
  width:196px;
  height:38px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7993 {
  position:absolute;
  left:445px;
  top:1303px;
  width:206px;
  height:18px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u7994 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u7995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:79px;
}
#u7995 {
  position:absolute;
  left:370px;
  top:1242px;
  width:65px;
  height:79px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:32px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:76px;
}
#u7998 {
  position:absolute;
  left:370px;
  top:1431px;
  width:65px;
  height:76px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:30px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8000 {
  position:absolute;
  left:445px;
  top:1457px;
  width:196px;
  height:38px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8001 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u8002 {
  position:absolute;
  left:445px;
  top:1489px;
  width:220px;
  height:18px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
}
#u8003 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8004 {
  position:absolute;
  left:548px;
  top:1212px;
  width:0px;
  height:0px;
}
#u8004_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:256px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8004_seg1 {
  position:absolute;
  left:229px;
  top:-20px;
  width:40px;
  height:40px;
}
#u8005 {
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006 {
  position:absolute;
  left:651px;
  top:1312px;
  width:0px;
  height:0px;
}
#u8006_seg0 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:96px;
  height:8px;
  -webkit-transform:rotate(-179.390493423325deg);
  -moz-transform:rotate(-179.390493423325deg);
  -ms-transform:rotate(-179.390493423325deg);
  transform:rotate(-179.390493423325deg);
}
#u8007 {
  position:absolute;
  left:-3px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8008 {
  position:absolute;
  left:743px;
  top:1313px;
  width:0px;
  height:0px;
}
#u8008_seg0 {
  position:absolute;
  left:-5px;
  top:-21px;
  width:68px;
  height:10px;
  -webkit-transform:rotate(150.361616311849deg);
  -moz-transform:rotate(150.361616311849deg);
  -ms-transform:rotate(150.361616311849deg);
  transform:rotate(150.361616311849deg);
}
#u8008_seg1 {
  position:absolute;
  left:32px;
  top:-51px;
  width:40px;
  height:40px;
}
#u8009 {
  position:absolute;
  left:-21px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010 {
  position:absolute;
  left:741px;
  top:1314px;
  width:0px;
  height:0px;
}
#u8010_seg0 {
  position:absolute;
  left:-7px;
  top:12px;
  width:68px;
  height:10px;
  -webkit-transform:rotate(-147.05078488341deg);
  -moz-transform:rotate(-147.05078488341deg);
  -ms-transform:rotate(-147.05078488341deg);
  transform:rotate(-147.05078488341deg);
}
#u8010_seg1 {
  position:absolute;
  left:28px;
  top:11px;
  width:40px;
  height:40px;
}
#u8011 {
  position:absolute;
  left:-23px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012 {
  position:absolute;
  left:613px;
  top:1397px;
  width:0px;
  height:0px;
}
#u8012_seg0 {
  position:absolute;
  left:-1px;
  top:-5px;
  width:190px;
  height:8px;
  -webkit-transform:rotate(179.695238089579deg);
  -moz-transform:rotate(179.695238089579deg);
  -ms-transform:rotate(179.695238089579deg);
  transform:rotate(179.695238089579deg);
}
#u8012_seg1 {
  position:absolute;
  left:162px;
  top:-21px;
  width:40px;
  height:40px;
}
#u8013 {
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014 {
  position:absolute;
  left:665px;
  top:1498px;
  width:0px;
  height:0px;
}
#u8014_seg0 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:84px;
  height:8px;
  -webkit-transform:rotate(-179.301305617017deg);
  -moz-transform:rotate(-179.301305617017deg);
  -ms-transform:rotate(-179.301305617017deg);
  transform:rotate(-179.301305617017deg);
}
#u8015 {
  position:absolute;
  left:-9px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016 {
  position:absolute;
  left:745px;
  top:1499px;
  width:0px;
  height:0px;
}
#u8016_seg0 {
  position:absolute;
  left:-5px;
  top:-21px;
  width:68px;
  height:10px;
  -webkit-transform:rotate(150.361616311849deg);
  -moz-transform:rotate(150.361616311849deg);
  -ms-transform:rotate(150.361616311849deg);
  transform:rotate(150.361616311849deg);
}
#u8016_seg1 {
  position:absolute;
  left:32px;
  top:-51px;
  width:40px;
  height:40px;
}
#u8017 {
  position:absolute;
  left:-21px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018 {
  position:absolute;
  left:743px;
  top:1500px;
  width:0px;
  height:0px;
}
#u8018_seg0 {
  position:absolute;
  left:-7px;
  top:12px;
  width:68px;
  height:10px;
  -webkit-transform:rotate(-147.05078488341deg);
  -moz-transform:rotate(-147.05078488341deg);
  -ms-transform:rotate(-147.05078488341deg);
  transform:rotate(-147.05078488341deg);
}
#u8018_seg1 {
  position:absolute;
  left:28px;
  top:11px;
  width:40px;
  height:40px;
}
#u8019 {
  position:absolute;
  left:-23px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021 {
  position:fixed;
  left:0px;
  top:0px;
}
#u8021_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8022 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
}
#u8023 {
  position:absolute;
  left:2px;
  top:22px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8024 {
  position:absolute;
  left:32px;
  top:0px;
  width:60px;
  height:60px;
}
#u8025 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8026 {
  position:absolute;
  left:102px;
  top:21px;
  width:300px;
  height:27px;
  font-family:'AvenirNext-UltraLight', 'Avenir Next Ultra Light', 'Avenir Next';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:2px;
}
#u8028 {
  position:absolute;
  left:0px;
  top:58px;
  width:1600px;
  height:1px;
}
#u8029 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8030 {
  position:absolute;
  left:643px;
  top:21px;
  width:153px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8031 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u8032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8032 {
  position:absolute;
  left:856px;
  top:21px;
  width:120px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8034 {
  position:absolute;
  left:1037px;
  top:21px;
  width:120px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8036 {
  position:absolute;
  left:1217px;
  top:21px;
  width:171px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8037 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u8038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-UltraLightItalic', 'Avenir Next Ultra Light Italic', 'Avenir Next';
  font-weight:200;
  font-style:italic;
  font-size:12px;
}
#u8038 {
  position:absolute;
  left:265px;
  top:28px;
  width:131px;
  height:16px;
  font-family:'AvenirNext-UltraLightItalic', 'Avenir Next Ultra Light Italic', 'Avenir Next';
  font-weight:200;
  font-style:italic;
  font-size:12px;
}
#u8039 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u8040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8040 {
  position:absolute;
  left:1449px;
  top:21px;
  width:151px;
  height:22px;
  font-family:'AvenirNext-Regular', 'Avenir Next';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#387EB6;
}
#u8041 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
