body {
  margin:0px;
  background-color:rgba(240, 240, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1702px;
  height:957px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:69px;
  width:1702px;
  height:957px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:957px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:1700px;
  height:957px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:956px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:70px;
  width:1700px;
  height:956px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:1062px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:69px;
  width:1700px;
  height:1062px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:523px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:56px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:748px;
  width:179px;
  height:56px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MLingWaiMedium-SC', 'LingWai SC Medium', 'LingWai SC';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:166px;
  width:902px;
  height:100px;
  font-family:'MLingWaiMedium-SC', 'LingWai SC Medium', 'LingWai SC';
  font-weight:500;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:300px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:197px;
  width:520px;
  height:300px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
  background:inherit;
  background-color:rgba(43, 62, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:19px;
  width:300px;
  height:34px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1622px;
  top:15px;
  width:41px;
  height:41px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:22px;
  width:26px;
  height:28px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:37px;
  width:18px;
  height:18px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#388CFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:60px;
  width:358px;
  height:210px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:70px;
  width:270px;
  height:19px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:93px;
  width:253px;
  height:30px;
  font-family:'Roboto';
  font-weight:400;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:74px;
  width:65px;
  height:65px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:126px;
  width:270px;
  height:15px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:89px;
  width:252px;
  height:1px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:339px;
  height:5px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:160px;
  width:336px;
  height:2px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:179px;
  width:57px;
  height:57px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:174px;
  width:270px;
  height:19px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:193px;
  width:252px;
  height:1px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:196px;
  width:253px;
  height:30px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:229px;
  width:270px;
  height:15px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  color:#388CFF;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-1px;
  width:70px;
  height:51px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:40px;
  background:inherit;
  background-color:rgba(127, 204, 57, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1px;
  width:347px;
  height:40px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:8px;
  width:26px;
  height:26px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:10px;
  width:181px;
  height:21px;
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#388CFF;
  text-align:right;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:14px;
  width:105px;
  height:14px;
  font-family:'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#388CFF;
  text-align:right;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:390px;
  width:211px;
  height:60px;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u62_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(171, 215, 40, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Phosphate-Solid', 'Phosphate Solid', 'Phosphate Inline', 'Phosphate';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u62.mouseOver {
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:207px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:278px;
  width:589px;
  height:48px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
